# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.Python

# Environments
.venv/
.env
env/

# Jupyter
.ipynb_checkpoints/

# Kaggle data
input/
data/
archives/
submissions/

# VSCode / IDE
.vscode/
.DS_Store
